<div class="card" style="background-color: aqua" >
	<div class="card_content">
		<div class="content">
            <div class="column">
                <div class="" style="font-size: large" > <b>রেজিস্ট্রেশন সংখ্যাঃ {{ticket.student_id }}</b></div>
				<div class="column"></div>
			</div>
			<div class="column">
                <div class="" style="font-size: large" > <b>নামঃ {{ticket.name }}</b></div>
				<div class="column"></div>
			</div>
			<div class="column" >
                <div class="" style="font-size: large" ><b>ইমেল ঠিকানাঃ {{ ticket.email }}</b></div>
				<div class="column"></div>
			</div>
			<div class="column">
                <div class="" style="font-size: large"><b>মোবাইল নাম্বারঃ {{ ticket.phone }}</b></div>
				<div class="column"></div>
			</div>
			
		</div>
		
	</div>
	
</div>